body {
	background-color: #e1e1e1;
	margin: 0;
	padding: 10px;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 14px;
	color: #4F5155;
}

a {
	color: #666;
	background-color: transparent;
	font-weight: normal;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 18px;
	font-weight: bold;
}

div#pagewrapper {
	width: 99%;
	margin: 0;
	padding: 0;
	border: 1px solid #666;
	background-color: #fff;
}

div#header {
	padding-left: 8px;
	height: 50px;
}

div#menu {
	border-top: 1px dotted #666;
	border-bottom: 1px dotted #666;
	padding-bottom: 2px;
	text-align: right;
}

div#content {
	clear: both;
	margin: 0;
	padding: 5px;
	width: 99.5%
}

div.english-heading, 
div.translation-heading {
  	float: left;
  	width: 47%;
	padding: 0.5em 0.2em;
	background-color: #666;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	border: 3px solid #666;
	font-size: 1.2em;
}

div.english-heading {
	margin-right: 2%;
}

div.row {
	clear:both;
	margin:0pt;
	padding:5px 0pt;
}

div.row-nottranslated {
	clear: both;
	padding: 8px 0;
	margin: 0;
}

.label, .label-textarea {
	float: left;
	width: 47%;
	text-align: left;
	padding: 0.5em;	
	overflow: auto;
	margin-right: 2%;
	vertical-align: top;
	font-family: Verdana, Arial, Sans-Serif;
}

.label-textarea {
}

div.row div.label, 
div.row div.label-textarea {
	border:1px dotted #000000;
}

div.row-nottranslated div.label, 
div.row-nottranslated div.label-textarea {
	border:3px dotted #842222;
	padding-right:0pt;
}

div.row-nottranslated .translation {
	border: 3px solid #842222;
	padding-right: 0;
}

.translation-div {
	text-align: left;
	width: 47%;
	float: left;
	margin: 0;
	padding: 0;
}

.translation {
	width: 100%;
	font-family: Verdana, Arial, Sans-Serif;
    padding: 0.5em 0 0.5em 0.5em;
	font-size: 1em;
	margin: 0;	
}

pre {
  	margin: 0;
    white-space: pre-wrap;       /* css-3 */
 	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 	white-space: -pre-wrap;      /* Opera 4-6 */
 	white-space: -o-pre-wrap;    /* Opera 7 */
 	word-wrap: break-word;       /* Internet Explorer 5.5+ */
 	overflow: auto;
 	width: 100%;
 	vertical-align: top;
	font-family: Verdana, Arial, Sans-Serif;
}

textarea {
 }

textarea:focus, input:focus {
	background-color: #ffc;
}

div.formbuttons {
	clear: both;
	padding-top: 1em;
	text-align: center;
}

div.formbuttons input {
	background-color: #fff;
	border: 1px solid #666;
	padding: 0.5em;
	color: #666;
	font-weight: bold;
	cursor: pointer;
}

div#footer {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	border-top: 1px dotted #666;
	/*height: 20px;*/
	text-align: center;
	font-size: 10px;
}

ul {
	margin-left: 20px;
	/*padding: 1.2em;*/
	line-height: 1.5em;
}

li {
	margin: 5px;
}

tr.row:hover {
	background-color: #eee;
}
