@charset "utf-8";
/* CSS Document */

img.zenderThumb {
	display:block;
	position:absolute;
	margin:0;
	left:6px;
	top:7px;
	width:40px;
	height:40px;
	padding:7px 0 10px 0;
}

img.zenderThumbNu {
	display:block;
	position:absolute;
	margin:0;
	left:6px;
	top:0px;
	width:40px;
	height:40px;
	padding:7px 0 10px 0;
}


a.zenderNaam {
	padding-left:60px;
	padding-right:40px;
	min-height:47px;
	color:#ccc;
}

p.zenderNu {
	display:block;
	position:absolute;
	margin:0;
	left:60px;
	top:27px;
	text-align:left;
	font-size:12px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	width:250px;
	height:13px;
	padding:3px 0 0 0;
	color:#000;
	font-weight:bold;
}

p.zenderStraks {
	display:block;
	position:absolute;
	margin:0;
	left:60px;
	top:42px;
	text-align:left;
	font-size:12px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	width:250px;
	height:13px;
	padding:3px 0 0 0;
}

a.programmaNaam {
	padding-left:60px;
	padding-right:40px;
	min-height:20px;
	padding-top:15px;
}

a.programmaNaamNu {
	padding-left:60px;
	padding-right:40px;
	min-height:25px;
	padding-top:20px;
}

a.genres {
	padding-left:60px;
	padding-right:40px;
	min-height:20px;
	padding-top:25px;
	text-transform:capitalize;
}

p.programmaTijd {
	text-align:left;
	font-size:12px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	display:block;
	position:absolute;
	margin:0;
	left:10px;
	top:15px;
	width:40px;
	height:40px;
	padding:7px 0 10px 0;
}

.zenderthumb {
	display:block;
	position:absolute;
	width:40px;
	height:40px;
	margin-bottom:10px;
	border:2px solid #ffffff;
	-webkit-border-radius: 6px;
}

.row > p {
	display:block;
	margin:0;
	border:none;
	padding:12px 0 10px 110px;
	text-align:left;
	font-weight:bold;
	text-decoration:inherit;
	color:inherit;
	box-sizing:border-box;
	float:left;
}

.row > label {
	text-align:left;
	width:80px;
	position:absolute;
	margin:0 0 0 14px;
	line-height:42px;
	font-weight:bold;
	color:#7388a5;
}

.kijkwijzericoon{
	width:18px;
	height:18px;
	margin-right:5px;
}

.logo{
    height: 42px;
    width: 110px;
    margin-top:-10px;
}

.genreUur{
	position: relative;
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 4px 0 6px 10px;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    background:url(../images/genre_uur_bg.png);
    height:10px;
}

.genreNaam {
	padding-left:60px;
	padding-right:40px;
	min-height:35px;
	padding-top:15px;
}

img.genreThumb {
	display:block;
	position:absolute;
	margin:0;
	left:6px;
	width:40px;
	height:40px;
	padding:0px 0 10px 0;
}

#tvtips img {
	margin-bottom:-5px;
	padding:0;
}

#tvtips > li {
    margin: 0;
    border-bottom: none;
    padding:0;
}

#tvtips > li > a {
    margin:0;
    padding:0;
}

.tvtip_cover_prog {
	margin:-20px;
	margin-bottom:10px;
}

.preview{
	margin-bottom:10px;
}

body[orient="profile"] .tvtip_cover_prog{
	width: 298px;
}

body[orient="landscape"] .tvtip_cover_prog{
	width: 458px;
}

body[orient="profile"] .tvtip_cover{
	width: 320px;
}

body[orient="landscape"] .tvtip_cover{
	width: 480px;
}

body[orient="profile"] .preview{
	width: 258px;
}

body[orient="landscape"] .preview{
	width: 418px;
}

.video{
	display:block;
	position:absolute;
	width:40;
	height:40px;
	margin-bottom:10px;
	border:none;
}

.progInfoVideo {
	margin-left:50px;
	margin-bottom:5px;
	padding:0;
	margin-top:0;
}

.progVideo {

	margin-top: 10px;
	margin-bottom: 10px;
	padding:10px;
	text-align:left;
	border:1px solid #999999;
	background:#FFFFFF;
	-webkit-border-radius: 10px;
	min-height:40px;
}

.filmIcon {
	border:none;
	margin-left:10px;
}

.geen_uitzending{
	margin-top:15px;
	margin-bottom:0;
	margin-left:50px;
	padding:0;
}
p.genre_zendernaam{
	margin:0;
	padding:0;
	font-size:12px;
	color:#ccc;
	margin-top:5px;
}
