body {
	background-color: #fff;
	margin: 40px;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 14px;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	font-size: 16px;
	font-weight: bold;
}

code {
	font-family: Monaco, Verdana, Sans-serif;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

div#header {
}

div#menu {
	margin-top: 10px;
	border-top: 1px dotted #666;
	border-bottom: 1px dotted #666;
	padding-bottom: 2px;
	text-align: right;
}

div#content {
	padding: 10px;
}

div#footer {
	margin-top: 10px;
	border-top: 1px dotted #666;
}

table.admin_provider td {
	border-bottom: 1px solid #ccc;
	padding: 3px;
}