@CHARSET "ISO-8859-1";

* {
	margin:0;
	padding:0;
}

body {
	position: absolute;
	height: 100%;
	width:100%;

	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 80.00%;
	color: #333333;
	line-height: 1.5em;
}

h1
{
	/*background: #ffffff url(images/h1_bg2.gif) no-repeat top left;*/
	font-size: 140.00%;
	font-weight: bold;
	text-decoration: none;
	/*letter-spacing: 5px;*/
	margin-bottom: 10px;
}

h2
{
	font-weight: bold;
	font-size: 120.00%;
	text-decoration: none;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

h3
{
	font-weight: bold;
	text-decoration: none;
}

h4
{
	font-size: 80%;
	font-weight: bold;
	text-decoration: none;
}

/* DIVS */

div#pagewrapper {
	width: 780px;
	position: absolute;
	left: 50%;
	margin-left: -390px;
	max-width: 780px;
	min-width: 780px;
}

div#header {
	margin-top: 10px;
	margin-bottom: 5px;

	border: solid 1px #cccccc;
	-moz-border-radius: 3px;
}


div#menu {
	float: left;
	min-height: 330px;

	/*border: solid 1px #cccccc;*/
}

div#menuitem {
	width: 155px;
	display: block;
	margin-bottom: 4px;
}

div#menuitem a {
	display: block;
	color: #cc6714;
	text-decoration: none;
	font-size: 11px;
	padding: 6px;
	background: url(images/menu_btn_off.gif) no-repeat;
}

div#menuitem a:hover {
	background: url(images/menu_btn_on.gif) no-repeat;
}

div#heyuctrl {
	margin-top: 20px;
	border-top: dotted 1px #cccccc;
	border-bottom: dotted 1px #cccccc;
	font-size: 80%;
}

div#content {
	float:right;
	width: 612px;
	height: auto;
	min-height: 330px;
	padding: 4px;
	margin-bottom: 5px;

	/*border: solid 1px #cccccc;*/
}

div#footer {
	width: 100%;
	height: 18px;
	background-color: #ffffff;
	border-top: solid 1px #cccccc;
	clear: both;

	text-align: center;
	font-size: 80.00%;
}

div#centered {
	padding-top: 20px;
	text-align: center;
}

/* TABLES */

.table_outline tr td {
	-moz-border-radius: 3px;
	border: solid 1px #cccccc;
	padding-left: 0px;
}

.td_header {
	text-align: center;
	font-weight: bold;
}

.td_center {
	text-align: center;
}

.td_right {
	text-align: right;
}

.td_link {
	text-align: center;
}

.td_link a {
	text-decoration: none;
	color: black;
	display: block;
}

.td_link:hover {
	background-color : #ffefc3;
}

.td_linkACTIVE {
	text-align: center;
	background-color : #ffefc3;
}

.td_linkACTIVE a {
	text-decoration: none;
	color: black;
	display: block;
}

.td_linkACTIVE:hover {
	background-color : #ffefc3;
}

/* FORMS */

form {
	margin: 0px;
	padding: 0px;
}

input {
	/*border: solid 1px #cccccc;
	background-color: #ffefc3;
	height: 100%;*/
}

.formbtn {
	/*background-color: #cccccc;
	width: 100%;
	-moz-border-radius: 3px;*/
}

/* OTHER */

hr {
	width: 95%;
	border: solid 1px #cccccc;
}

/* table, table tr td.topbar
{
	-moz-border-radius: 3px;
	/*filter:alpha(opacity=80);
	-moz-opacity:0.8;*/
}*/